@import url("https://fonts.googleapis.com/css2?family=Borel&family=Lobster&family=Platypi:ital,wght@0,300..800;1,300..800&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Carrois+Gothic&family=Inconsolata:wght@200..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nanum+Gothic&family=Sedgwick+Ave+Display&display=swap");
body {
  max-width: 1440px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.container .sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  background: rgb(230, 199, 199);
  background: radial-gradient(circle, rgb(230, 199, 199) 0%, rgb(248, 238, 238) 100%);
  max-height: 100%;
}
.container .sidebar .logo {
  margin-top: 10px;
  margin-left: 20px;
}
.container .sidebar .logo .logo-becode {
  width: 150px;
  height: 50px;
}
.container .sidebar .img {
  padding-left: 350px;
  position: relative;
}
.container .sidebar .img .Zahra {
  width: 300px;
  height: 390px;
  border-radius: 2rem;
}
.container .sidebar .infos-container {
  margin-top: auto;
  margin-right: auto;
  margin-left: 30px;
}
.container .sidebar .info {
  inline-size: none;
}
.container .sidebar .info h6 {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.container .sidebar .info h6 p {
  font-size: 13px;
}
.container .sidebar .info .ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.container .sidebar .info .ul li {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.container .content {
  width: 60%;
}
.container .content header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}
.container .content header .menu {
  margin-top: 10px;
  margin-right: 30px;
}
.container .content .main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container .content .main .logo-zahra {
  margin-left: 130px;
  width: 180px;
  height: 280px;
}
.container .content .main p {
  margin-left: 150px;
  font-size: 20px;
  font-family: Inconsolata;
}
.container .content .main #btns {
  margin-left: 70px;
  padding: 10px;
}
.container .content .main #btns .btn1 {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 2rem;
  background-color: #babebf;
}
.container .content .main #btns .btn1 .btn1:hover {
  background-color: #3e8e41;
}

.container .sidebar .img {
  padding-left: 25px;
}
.container .sidebar .img .Zahra {
  width: 160px;
  height: 270px;
  margin-left: 2px;
  margin-top: 20px;
}
.container .sidebar .infos-container h6 {
  font-size: 10px;
}
.container .sidebar .infos-container h6 p {
  font-size: 10px;
}
.container .content header .menu {
  margin-top: 20px;
}
.container .content .main .logo-zahra {
  width: 70px;
  height: 70px;
  margin-left: 70px;
  margin-top: 50px;
}
.container .content .main p {
  display: flex;
  flex-wrap: wrap;
  font-size: 9px;
  margin-left: 55px;
}
.container .content .main #btns {
  margin-left: 19px;
}
.container .content .main #btns .btn1 {
  font-size: 8px;
  padding: 2px;
}